@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Henny+Penny&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Freckle Face", "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* .freckle-face-regular {
  font-family: "Freckle Face", "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
} */
body {
  background: conic-gradient(
    from 45deg,
    rgb(119, 171, 220) 0deg,
    rgb(119, 171, 220) 27.692deg,
    rgb(99, 187, 220) 27.692deg,
    rgb(99, 187, 220) 55.385deg,
    rgb(88, 204, 210) 55.385deg,
    rgb(88, 204, 210) 83.077deg,
    rgb(89, 219, 193) 83.077deg,
    rgb(89, 219, 193) 110.769deg,
    rgb(101, 228, 172) 110.769deg,
    rgb(101, 228, 172) 138.462deg,
    rgb(122, 230, 149) 138.462deg,
    rgb(122, 230, 149) 166.154deg,
    rgb(149, 224, 129) 166.154deg,
    rgb(149, 224, 129) 193.846deg,
    rgb(177, 212, 116) 193.846deg,
    rgb(177, 212, 116) 221.538deg,
    rgb(202, 195, 111) 221.538deg,
    rgb(202, 195, 111) 249.231deg,
    rgb(219, 178, 115) 249.231deg,
    rgb(219, 178, 115) 276.923deg,
    rgb(225, 165, 129) 276.923deg,
    rgb(225, 165, 129) 304.615deg,
    rgb(220, 156, 148) 304.615deg,
    rgb(220, 156, 148) 332.308deg,
    rgb(205, 156, 171) 332.308deg,
    rgb(205, 156, 171) 360deg
  );
  height: 100vh;
  color: white;
}
header {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
header h1 {
  font-size: 60px;
}
.container {
  text-align: center;
  align-content: center;
  font-size: 55px;
  width: 12vw;
  height: 10vh;
  margin: 15px;
  background: border-box;
  color: white;
  border: 2px solid white;
  outline: 2px solid white;
}
main {
  display: flex;
  justify-content: center;
}
.left {
  display: flex;
  justify-content: top;
  align-items: anchor-center;
  flex-direction: column;
  height: 45vh;
  width: 45vw;
}
.right {
  height: 45vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: anchor-center;
  flex-direction: column;
  line-height: 5vh;
}
nav {
  width: 100vw;
  height: 15vh;
}
nav button {
  float: left;
  size: 20px;
  font-size: 35px;
  margin: 10px;
  padding: 5px;
  width: 12vw;
  height: 12vh;
  background: border-box;
  color: white;
  border: 2px solid white;
}
.again:hover {
  outline: 1px solid black;
}
nav p {
  float: right;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  font-size: 35px;
  width: fit-content;
  height: 10vh;
}
.guess {
  text-align: center;
  width: 15vw;
  height: 10vh;
  margin: 10px;
  font-size: 50px;
  background: border-box;
  color: white;
  border: 2px solid white;
  outline: 2px solid white;
  cursor: pointer;
}
.guess:hover {
  outline: 1px solid black;
}
.check {
  align-items: center;
  font-size: 35px;
  width: 12vw;
  height: 10vh;
  margin: 10px;
  background: border-box;
  color: white;
  border: 2px solid white;
  outline: 2px solid white;
}
.check:hover {
  outline: 1px solid black;
}

.message,
.score,
.highscore,
.label-highscore,
.label-score {
  justify-content: center;
  align-items: anchor-center;
  flex-direction: column;
  height: 15vh;
  width: 30vw;
  font-size: 40px;
}

/* its not responsive i dont have too much time to spend🥲  */
