* {
  padding: 0;
  margin: 0;
}
body {
  background: conic-gradient(
    from 210deg,
    rgb(197, 187, 184) 0deg,
    rgb(197, 187, 184) 24deg,
    rgb(184, 181, 184) 24deg,
    rgb(184, 181, 184) 48deg,
    rgb(169, 175, 183) 48deg,
    rgb(169, 175, 183) 72deg,
    rgb(154, 168, 181) 72deg,
    rgb(154, 168, 181) 96deg,
    rgb(139, 161, 179) 96deg,
    rgb(139, 161, 179) 120deg,
    rgb(125, 152, 175) 120deg,
    rgb(125, 152, 175) 144deg,
    rgb(112, 144, 171) 144deg,
    rgb(112, 144, 171) 168deg,
    rgb(101, 135, 166) 168deg,
    rgb(101, 135, 166) 192deg,
    rgb(92, 126, 161) 192deg,
    rgb(92, 126, 161) 216deg,
    rgb(85, 117, 155) 216deg,
    rgb(85, 117, 155) 240deg,
    rgb(81, 108, 148) 240deg,
    rgb(81, 108, 148) 264deg,
    rgb(79, 99, 141) 264deg,
    rgb(79, 99, 141) 288deg,
    rgb(80, 90, 133) 288deg,
    rgb(80, 90, 133) 312deg,
    rgb(84, 83, 125) 312deg,
    rgb(84, 83, 125) 336deg,
    rgb(91, 75, 116) 336deg,
    rgb(91, 75, 116) 360deg
  );

  width: 100vw;
  height: 100vh;
}
nav {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 10px 0; */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #362f56 0%,
    #928dab 51%,
    #5c5383 100%
  );
}
.btn-grad {
  margin: 10px 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.close {
  align-self: end;
  /* align-items: end; */
  /* float: right; */
  font-size: 30px;
  margin: 10px;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 2px solid white;
}
.modal {
  width: 35vw;
  height: auto;
  margin: auto;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 32.5%;
  left: 32.5%;
}

.modal h1 {
  padding: 15px;
}
.modal p {
  padding: 15px;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
